.widgetcard-body {
  position: relative;
  width: 24%;
  min-height: 55%;
  max-height: 60%;

  border-radius: 30px;
  /* background-color: rgb(30, 42, 62); */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  padding: 1% 3%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.widgetcard-body:hover {
  transform: scale(1.05);
}
.widget-title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.widget-fade {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 84%;
  height: 34%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8%;

  /* background: rgba(238, 228, 228, 0); */
  opacity: 0;
}

.widgetcard-body:hover .widget-fade {
  opacity: 1;
}
