.controls-wrapper {
  width: 30%;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
}

.action-btn {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-btn:hover {
  transform: scale(1.1);
}

.play-pause-btn {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #c96850;
  /* background-color: white; */
  background: rgba(214, 205, 205, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 0px solid rgba(214, 205, 205, 0.42);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset -4px -4px -10px #55291e, inset 4px 4px 10px 1px #ffae9a;
}

.play-pause-btn.active {
  box-shadow: inset -4px -4px -10px #ffae9a, inset 4px 4px 10px 1px #55291e;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}
